<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dream Machine — Imagine anything and create it in seconds</title>
    <link rel="stylesheet" href="/app.css">
</head>

<body class="bg-black">