<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Dream Machine — Imagine anything and create it in seconds</title>
    <script defer data-domain="dreammachineapp.com" src="https://s.cac.app/js/script.outbound-links.js"></script>
    <link rel="stylesheet" href="/app.css">
</head>

<body class="bg-black">
