<%- include("partials/header") %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<div class="absolute inset-0 pointer-events-none flex items-start justify-center">
    <input id="message" type="text" placeholder="Imagine a scene..." class="mt-8 w-full max-w-lg left-0 right-0 pointer-events-auto rounded-full border-0 focus:outline-none focus:ring-0 text-gray-50 bg-gray-800 text-center" />
</div>

<div id="text" class="absolute inset-0 text-gray-100 pointer-events-none flex items-center justify-center">
</div>

<script src="/client.js"></script>

<%- include("partials/footer") %>